<!--
  ejemplo de XML:

      <contenido>
        <tipo>EntidadesYOrganismos</tipo>
        <atributos idioma="es">
            <atributo nombre="ID-ENTIDAD">176850</atributo>
            <atributo nombre="NOMBRE">Colegio Público Adolfo Suárez</atributo>
            <atributo nombre="EQUIPAMIENTO"><![CDATA[Comedor - Horario ampliado - Planes de mejora.]]></atributo>
            <atributo nombre="TRANSPORTE"><![CDATA[BUS: 174]]></atributo>
            <atributo nombre="DESCRIPCION"><![CDATA[ENSEÑANZAS: Segundo ciclo de E. Infantil - Primaria - Educación Secundaria Obligatoria]]></atributo>
            <atributo nombre="ACCESIBILIDAD">0</atributo>
            <atributo nombre="CONTENT-URL">http://www.madrid.es/sites/v/index.jsp?vgnextchannel=bfa48ab43d6bb410VgnVCM100000171f5a0aRCRD&amp;vgnextoid=a9344b6faa61c010VgnVCM1000000b205a0aRCRD</atributo>
            <atributo nombre="LOCALIZACION">
                <atributo nombre="NOMBRE-VIA">INFANTA CATALINA MICAELA</atributo>
                <atributo nombre="CLASE-VIAL">CALLE</atributo>
                <atributo nombre="TIPO-NUM">NUM</atributo>
                <atributo nombre="NUM">31</atributo>
                <atributo nombre="LOCALIDAD">MADRID</atributo>
                <atributo nombre="PROVINCIA">MADRID</atributo>
                <atributo nombre="CODIGO-POSTAL">28050</atributo>
                <atributo nombre="COD-BARRIO">6</atributo>
                <atributo nombre="BARRIO">VALDEFUENTES</atributo>
                <atributo nombre="COD-DISTRITO">16</atributo>
                <atributo nombre="DISTRITO">HORTALEZA</atributo>
                <atributo nombre="COORDENADA-X">444807</atributo>
                <atributo nombre="COORDENADA-Y">4482402</atributo>
                <atributo nombre="LATITUD">40.48860266655876</atributo>
                <atributo nombre="LONGITUD">-3.6525544243312855</atributo>
            </atributo>
            <atributo nombre="DATOSCONTACTOS">
                <atributo nombre="TELEFONO">917 502 058 / 676 562 792</atributo>
                <atributo nombre="FAX">917 502 058</atributo>
            </atributo>
            <atributo nombre="TIPO">/contenido/entidadesYorganismos/CentrosEducacion/ColegiosPublicos</atributo>
        </atributos>
    </contenido>
    
-->

<!--contenido importante del XML:

  atributo nombre="NOMBRE"
  atributo nombre="LOCALIZACION"
    atributo nombre="NOMBRE-VIA"
    atributo nombre="NUM"
    atributo nombre="LOCALIDAD"
    atributo nombre="CODIGO-POSTAL"

-->


<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <%- include('header')%>
      <h1>Información de los Colegios</h1>
      <div id="colegios-container"></div>
    </div>
    <%- include('footer')%>

    <script>
      const CORS_PROXY_URL = "https://api.allorigins.win/raw?url=";
      const API_URL_COLEGIOS =
        "https://datos.madrid.es/egob/catalogo/202311-0-colegios-publicos.xml";

      axios
        .get(CORS_PROXY_URL + encodeURIComponent(API_URL_COLEGIOS))
        .then((response) => {
          const xmlData = response.data;
          const parser = new DOMParser();
          const xmlDoc = parser.parseFromString(xmlData, "text/xml");
          const colegios = xmlDoc.getElementsByTagName("contenido");

          const colegiosContainer = document.getElementById("colegios-container");

          for (let i = 0; i < colegios.length; i++) {
            const colegio = colegios[i];

            const nombre = colegio.getElementsByTagName("atributo")[1].textContent;
            const localizacion = colegio.getElementsByTagName("atributo")[7];
            const via = localizacion.getElementsByTagName("atributo")[0].textContent;
            const numero = localizacion.getElementsByTagName("atributo")[3].textContent;
            const ciudad = localizacion.getElementsByTagName("atributo")[8].textContent;
            const localidad = localizacion.getElementsByTagName("atributo")[10].textContent;
            const cp = localizacion.getElementsByTagName("atributo")[11].textContent;

            // Crear elementos HTML para mostrar la información del colegio
            const colegioElement = document.createElement("div");
            colegioElement.innerHTML = `
              <h2>${nombre}</h2>
              <p><strong>${via} ${numero} ${localidad} ${cp}</p>
              <p><strong>Localidad:</strong> ${ciudad}</p>
              <hr>
            `;

            colegiosContainer.appendChild(colegioElement);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    </script>
  </body>
</html>

