<!-- generate a basic footer -->

<footer class="footer mt-auto py-3 bg-light">
   <div class="container">
     <span class="text-muted">APVIMAD Madrid. </span>
     <span class="text-muted">Todos los derechos reservados. </span>
     <span class="text-muted">2023</span>


  </div>
</footer>
   
